<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <title>Title</title>-->
</head>
<body>
    {% include 'fragments/navbar.html' %}
</body>
</html>