{% extends 'base.html' %}
{% load static %}

{% block mainContent %}
    <div class="flex gap-2 items-center justify-between">
        <div class="row">
            <div class="col">
                <a class="titulo">Romance</a>
            </div>
            <div class="col">
                <a class="titulo">Ficção</a>
            </div>
            <div class="col">
                <a class="titulo">AutoAjuda</a>
            </div>
            <div class="col">
                <a class="titulo">Infantil</a>
            </div>
            <div class="col">
                <a class="titulo">Didáticos</a>
            </div>
            <div class="col">
                <a class="titulo">Científicos</a>
            </div>
        </div>
        <a></a>
    </div>
{% endblock mainContent %}