.navbar {
    background-color: #12111F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    text-color: #46D7AC;
    border-radius: 10px;
}

#img_logo {
    height: 133px;
    width: 200px;
}

.btn {
    background-color: #D9D9D9;
    text.color: #000000;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}


#icon1 {
    weight: 30px;
    height: 30px;
}
#icon2 {
    weight: 30px;
    height: 30px;
}
#icon3 {
    weight: 30px;
    height: 30px;
}

a {
    font-family: "Lustria", sans-serif;
    color: #46D7AC;
}

#legend {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bi:hover {
    cursor: pointer;
}