.navbar {
    background-color: #12111F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    text-color: #46D7AC;
    border-radius: 10px;
}

btn_cad {

}

btn_log {

}
#icon1 {
    weight: 30px;
    height: 30px;
}
#icon2 {
    weight: 30px;
    height: 30px;
}
#icon3 {
    weight: 30px;
    height: 30px;
}

a {
    font-family: "Lustria", sans-serif;
    color: #46D7AC;
}

#legend {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bi:hover {
    cursor: pointer;
}