{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extraHead %}

<nav class="navbar p-4 flex justify-between w-full">
    <a>
        <img id="img_logo" src="{% static 'images/logoln.jpg' %}" alt="">
    </a>
    <div class="flex gap-3 items-center">
        <a>Você sempre próximo do seu melhor companheiro!</a>
    </div>
    <div class="flex gap-2 items-center">

        <img id="icon1" src="{% static 'images/email.png' %}" alt="">
        <img id="icon2" src="{% static 'images/insta.png' %}" alt="">
        <img id="icon3" src="{% static 'images/face.png' %}" alt="">

        <button class="btn">Cadastre - se</button>
        <button class="btn">Login</button>


    </div>
</nav>
